body {
	height:		100%;
	padding:	0;
	margin:		0;
	display:	flex;
	font:		normal normal normal 12px Tahoma;
}

html {
	height:	100%;
}

canvas {
	margin:			auto;
	width:			800px;
	height:			600px;
	justify-self:	center;
}
